@import '../../styles/custom-media.css';

.root {
  margin: 0 auto;
  padding: 3rem 1.5rem;
  max-width: var(--width-medium);
}

.featuredImage {
  width: calc(100% + 3rem);
  margin: 0 -1.5rem 1rem -1.5rem;

  @media (--media-min-large) {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

.title {
  margin: 0 0 1rem 0;
  font-family: var(--font-family-title);
  font-weight: 400;
  letter-spacing: -1px;
  font-size: var(--font-title3-size);
  line-height: var(--font-title1-line-height);

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
  }

  @media (--media-min-large) {
    font-size: var(--font-title1-size);
  }
}

.byLine {
  margin: 0 0 2rem 0;
  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 1em;
  line-height: 1;

  @media (--media-min-large) {
    grid-template-columns: 3rem auto;
  }
}

.avatar {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 1.25rem;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (--media-min-large) {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }
}

.content {
  font-size: var(--font-base-size);
  line-height: var(--font-xlarge-line-height);
  font-weight: 400;

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
  }

  @media (--media-min-large) {
    font-size: var(--font-xlarge-size);
  }
}
