.calendlyWrapper {
}

.customButton {


}

.customButtonText {

}

.iconButton {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}


.icon {
  height: 8em;
  width: 8em;
  fill: var(--color-black);
}
