@import '../../styles/custom-media.css';
/* @import '../styles/custom-properties.css'; */

.root {
  position: relative;
  margin: 2rem auto;
  padding: 0;
  max-width: var(--width-large);

  @media (--media-min-medium) {
    margin: 4rem auto;
  }
}

.figure {
  margin: 0 1.5rem;
}

.image {
  display: block;
  width: 100%;
}
