@import '../../styles/custom-media.css';
@import '../../styles/shared.module.css';
/* @import '../styles/custom-properties.css'; */

.root {
  composes: center from '../../styles/shared.module.css';
  position: relative;
  min-height: 100vh;
  padding: 6rem 0;
}

.backgroundImage {
  background-color: var(--color-white, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 0.9;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-family-title);
  letter-spacing: -1px;

  @media (--media-min-small) {
    font-size: 10vw;
  }

  @media (--media-min-large) {
    font-size: 108px;
  }
}

.tagline {
  margin: 0 0 6rem 0;
  font-size: var(--font-xlarge-size);
  line-height: var(--font-large-line-height);

  @media (--media-min-medium) {
    font-size: var(--font-xlarge-size);
    line-height: var(--font-large-line-height);
  }
}

.root p a {
  color: inherit;
}
