@import '../../styles/custom-media.css';
@import '../../styles/shared.module.css';
/* @import '../styles/custom-properties.css'; */

.root {
  composes: center from '../../styles/shared.module.css';
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 6rem 0;
  background-color: var(--color-white, #fff);
  background-repeat: no-repeat;
  background-position: center;

  @media (--media-min-medium) {
    background-size: cover;

    background-attachment: fixed;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &:after {
    height: 4rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  &:before {
    background-color: var(--color-white, #fff);
    opacity: 0.6;
    height: 100%;
  }
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;

  @media (--media-min-x-large) {
    max-width: var(--width-medium);
  }
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 0.9;
  margin: 0 auto 2rem 0;
  text-align: center;
  font-family: var(--font-family-title);
  letter-spacing: -1px;

  @media (--media-min-small) {
    font-size: 6vw;
  }

  @media (--media-min-x-large) {
    font-size: 108px;
  }
}

.tagline {
  margin: 0 0 3rem 0;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);

  & p {
    display: inline;
    background: rgba(255, 255, 255, 0.4);
  }

  @media (--media-min-large) {
    font-size: var(--font-xlarge-size);
    line-height: var(--font-large-line-height);
  }
}

.root p a {
  color: inherit;
}
